
<div class="text-center">
  <ngb-alert #closingAlert *ngIf="messageCrud" type="{{typeAlert}}" (closed)="messageCrud= '' ">{{ messageCrud }} </ngb-alert>
</div>

<!--Form filter-->
<div class="container border card">
  <div class="card-body">
    <div class="card-title text-center h5">Filter options</div>
    <form class="row g-4" ngNativeValidate (ngSubmit)="onFilter(f)" #f="ngForm">
      <div class="row g-4 row-cols-2">
        <div class="col-auto col-md-1">
          <label for="title" class="col-form-label">Title</label>
        </div>
        <div class="col-auto col-sm-4">
          <input type="text" id="title" class="form-control" name="title" [(ngModel)]="title">
        </div>
        <div class="col-auto col-sm-2 col-lg-1 offset-sm-1">
          <label for="lang" class="col-form-label">Language &nbsp;</label>
        </div>
        <div class="col-auto col-sm-4">
          <input type="text" id="lang" class="form-control" name="lang" [(ngModel)]="lang">
        </div>
      </div>
      <div class="row g-4">
        <div class="col-auto">
          <label for="title" class="col-form-label">Publisher group</label>
        </div>
        <div class="col-auto col-sm-4">
          <select class="form-select" aria-label="Default select example" id="group" name="group" [(ngModel)]="group">
            <option value="">select your option</option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
          </select>
        </div>
        <div class="col-auto offset-1">
          <button type="submit" class="btn btn-primary" [disabled]="inputDisabled"><i class="bi bi-search text-capitalize"></i> Search</button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary" [disabled]="inputDisabled" (click)="onClear('')"><i class="bi bi-eraser"></i> Clear</button>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-auto">
          <a type="button" [ngClass]="title != ''?'btn btn-secondary btn-sm rounded-pill text-capitalize':'' " (click)="onClear('title')">{{title}} <i *ngIf="title.length>0" class="bi bi-x-circle-fill"></i></a>
        </div>
        <div class="col-auto">
          <a type="button" [ngClass]="lang != ''?'btn btn-secondary btn-sm rounded-pill text-capitalize':'' " (click)="onClear('lang')">{{lang}} <i *ngIf="lang.length>0" class="bi bi-x-circle-fill"></i></a>
        </div>
        <div class="col-auto">
          <a type="button" [ngClass]="group != ''?'btn btn-secondary btn-sm rounded-pill text-capitalize':'' " (click)="onClear('group')">{{group}} <i *ngIf="group.length>0" class="bi bi-x-circle-fill"></i></a>
        </div>
      </div>
    </form>

  </div>
  <br>
</div>
<br><br>
<div class="container g-3 d-flex justify-content-center">
    <button *ngIf="view=='matching' || view =='search'" type="button" class="btn btn-primary mx-1" (click)="viewMatchingTool('results')">Results</button>
    <button *ngIf="view=='results' " type="button" class="btn btn-primary mx-1" (click)="viewMatchingTool('matching')">Matching Tool</button>
    <button (click)="onRefresh()"  [ngClass]="inputDisabled == true?'disabled btn btn-primary mx-1':'btn btn-primary mx-1' " >
      <i class="bi bi-arrow-clockwise"></i> Reload
    </button>
</div>

<br><br>

<!-- Table Results-->
<div *ngIf="view == 'results'">
  <div class="container h4 text-center"> Results<span *ngIf="tableResults.length !=0" class="h4 text-primary">
    <span class="text-black">:</span> {{tableResults.length}}</span>
  </div>
  <br>
  <div class="container d-flex justify-content-center" *ngIf="tableResults.length == 0">
    <div class="d-flex align-items-center">
      <strong class="h5">Loading... </strong>
      <div class="spinner-grow" role="status" aria-hidden="true"></div>
    </div>
  </div>

  <div class="container animated fadeIn fast" *ngIf="tableResults.length != 0">
    <div class="table-responsive">
      <table class="table table-bordered table-borderless">
      <thead class="text-center">
        <tr>
          <th class="align-middle" scope="col">Cover</th>
          <th class="align-middle" scope="col">Title</th>
          <th class="align-middle" scope="col">Book ID</th>
          <th class="align-middle" scope="col">Author</th>
          <th class="align-middle" scope="col">Lang.</th>
          <th class="align-middle" scope="col">ISBN</th>
          <th class="align-middle" scope="col">Book Type</th>
          <th class="align-middle" scope="col">Status</th>
          <th class="align-middle" scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let bookElement of tableResults | slice: (page-1) * pageSize : page * pageSize; let i= index">
        <tr class="table-light">
          <td class="align-middle"><a *ngIf="bookElement.coverImage"><img src="{{bookElement.coverImage}}" alt="" width="42" height="42"></a></td>
          <td class="align-middle editTitle"  (click)="open(contentEdit,bookElement,'father',i)"><a>{{bookElement.title}}</a></td>
          <td class="align-middle"><a>{{bookElement.bookId}}</a></td>
          <td class="align-middle">
            <a>
              <p *ngFor="let author of bookElement.authors"> {{author.firstname}} {{author.lastname}} </p>
            </a>
          </td>
          <td class="align-middle"><a>{{bookElement.language}}</a></td>
          <td class="align-middle"><a>{{bookElement.isbn}}</a></td>
          <td class="align-middle"><a>{{bookElement.bookType}}</a></td>
          <td class="align-middle"><a>{{bookElement.productStatus}}</a></td>
          <td class="align-middle">
            <button type="button" class="btn btn-danger btn-sm" (click)="open(contentDiscard,bookElement,'father',i)">Discard All</button>
          </td>
        </tr>
        <tr *ngFor="let elasticsearchProduct of bookElement.elasticsearchProductList; let j = index">
          <td><img src="{{elasticsearchProduct.coverimage}}" alt="" width="42" height="42"></td>
          <td class="align-middle editTitle" (click)="open(contentEdit,bookElement,'child',i,j)">
            <a class="text-reset text-decoration-none">{{elasticsearchProduct.title}}</a>
          </td>
          <td class="align-middle">{{elasticsearchProduct.bookId}}</td>
          <td class="align-middle">
            <span *ngFor="let fname of elasticsearchProduct.author_fname"> {{fname}} </span>
            <span *ngFor="let lname of elasticsearchProduct.author_lname"> {{lname}} </span>
          </td>
          <td class="align-middle">{{elasticsearchProduct.language}}</td>
          <td class="align-middle">{{elasticsearchProduct.isbn}}</td>
          <td class="align-middle" *ngIf="elasticsearchProduct.booktype == 'E' ">E_BOOK</td>
          <td class="align-middle" *ngIf="elasticsearchProduct.booktype == 'A' ">AUDIO_BOOK</td>
          <td class="align-middle">{{elasticsearchProduct.productstatus}}</td>
          <td class="align-middle"></td>
        </tr>
      </tbody>
      </table>
      <ngb-pagination *ngIf="tableResults.length>0"
        class="d-flex justify-content-end"
        [collectionSize]="tableResults.length"
        [pageSize]="pageSize"
        [(page)]="page"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        size="sm">
      </ngb-pagination>
      <br><br>
    </div>
  </div>

</div>

<!--MatchingTool-->
<div *ngIf="view == 'matching' || view == 'search' ">
  <div class="container h4 text-center"> Matching tool</div>
  <br>
  <div class="container d-flex justify-content-center" *ngIf="filterBookElement.length == 0 && view == 'matching'">
    <div class="d-flex align-items-center">
      <strong class="h5">Loading... </strong>
      <div class="spinner-grow" role="status" aria-hidden="true"></div>
    </div>
  </div>
  <div class="container d-flex justify-content-center" *ngIf="view == 'search' && filterBookElement.length == 0">
    <div class="d-flex align-items-center">
      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle"></i> &nbsp; Results not found for &nbsp;
        <br>
        <span class="text-capitalize" *ngIf="titleNotFound != '' ">title: &#34;{{titleNotFound}}&#34;</span><span *ngIf="langNotFound != '' || groupNotFound != '' ">,</span>&nbsp;
        <span class="text-capitalize" *ngIf="langNotFound != '' ">language: &#34; {{langNotFound}}&#34;</span><span *ngIf="groupNotFound != '' ">,</span>&nbsp;
        <span class="text-capitalize" *ngIf="groupNotFound != '' ">publisher group: &#34;{{groupNotFound}}&#34;</span>
      </div>

    </div>
  </div>
  <div class="container d-flex justify-content-center text-center">
    <ngb-alert #selfClosingAlert *ngIf="searchMessage" type="success" (closed)="searchMessage= '' ">{{ searchMessage }} </ngb-alert>
  </div>
  <!--All-->
  <div class="container" *ngIf="filterBookElement.length> 0">
    <ngb-carousel *ngIf="filterBookElement" class="carousel carousel-dark">
      <ng-template ngbSlide *ngFor="let bookElement of filterBookElement; let i=index">
        <div class="container w-75 table-responsive">
          <br>
          <p>{{i+1}} de {{filterBookElement.length}}</p>
          <p><ngb-progressbar [value]="i+1"></ngb-progressbar></p>
          <br>
          <table class="table table-responsive table-bordered table-borderless">
            <thead>
              <tr>
                <th class="align-middle" scope="col">Cover</th>
                <th class="align-middle" scope="col">Title</th>
                <th class="align-middle" scope="col">Book ID</th>
                <th class="align-middle" scope="col">Author</th>
                <th class="align-middle" scope="col">Lang.</th>
                <th class="align-middle" scope="col">ISBN</th>
                <th class="align-middle" scope="col">Book Type</th>
                <th class="align-middle" scope="col">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td class="align-middle"><img *ngIf="bookElement.coverImage" src="{{bookElement.coverImage}}" alt="" width="42" height="42"></td>
                <td class="align-middle">{{bookElement.title}}</td>
                <td class="align-middle">{{bookElement.bookId}}</td>
                <td class="align-middle">
                  <p *ngFor="let author of bookElement.authors">
                    {{author.firstname}} {{author.lastname}} </p>
                </td>
                <td class="align-middle"><a>{{bookElement.language}}</a></td>
                <td class="align-middle"><a>{{bookElement.isbn}}</a></td>
                <td class="align-middle"><a>{{bookElement.bookType}}</a></td>
                <td class="align-middle"><a>{{bookElement.productStatus}}</a></td>
                <td class="align-middle">
                  <button type="button" class="btn btn-success btn-sm mx-2" (click)="open(contentEdit,bookElement,'father',i)">
                    <i class="bi bi-check-lg"></i>
                  </button>
                </td>
              </tr>
              <tr *ngFor="let elasticsearchProduct of bookElement.elasticsearchProductList; let j=index">

                <td class="align-middle"><img src="{{elasticsearchProduct.coverimage}}"
                    alt="img" width="42" height="42"></td>
                <td class="align-middle">{{elasticsearchProduct.title}}</td>
                <td class="align-middle">{{elasticsearchProduct.bookId}}</td>
                <td class="align-middle">
                  <span *ngFor="let fname of elasticsearchProduct.author_fname">
                    {{fname}} </span>
                  <span *ngFor="let lname of elasticsearchProduct.author_lname">
                    {{lname}} </span>
                </td>
                <td class="align-middle">{{elasticsearchProduct.language}}</td>
                <td class="align-middle">{{elasticsearchProduct.isbn}}</td>
                <td class="align-middle" *ngIf="elasticsearchProduct.booktype == 'E' ">E_BOOK</td>
                <td class="align-middle" *ngIf="elasticsearchProduct.booktype == 'A' ">AUDIO_BOOK</td>
                <td class="align-middle">{{elasticsearchProduct.productstatus}}</td>
                <td class="align-middle">
                  <button type="button" class="btn btn-success btn-sm mx-2" (click)="open(contentEdit,bookElement,'child',i,j)"><i class="bi bi-check-lg"></i></button>
                  <br>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger btn-sm mx-2" (click)="open(contentDiscard,bookElement,'father',i)"><i class="bi bi-x-lg"></i></button>
          </div>

        </div>
        <br>
      </ng-template>
    </ngb-carousel>
  </div>
  <br><br>
</div>

  <!--modal edit-->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-primary" id="modal-basic-title">Edit title
      <span class="text-capitalize" *ngIf="typeElement == 'father' ">{{typeElement}} and Childs</span>
      <span class="text-capitalize" *ngIf="typeElement == 'child' ">{{typeElement}}</span>
    </h4>
    <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <form action="post" ngNativeValidate (ngSubmit)="onEdit(f,itemElasticSearch,'success')" #f="ngForm">
    <div class="modal-body">
      <div class="row g-3 align-items-center">
        <div class="mb-3">
          <label for="inputPassword6" class="col-form-label">Title</label>
          <textarea *ngIf="typeElement== 'father' " type="text" id="titleEdit" class="form-control" name="titleEdit" rows="4" [ngModel]="itemElasticSearch.title" required></textarea>
          <textarea *ngIf="typeElement== 'child' " type="text" id="titleEdit" class="form-control" name="titleEdit" rows="4" [ngModel]="itemElasticSearch.elasticsearchProductList[positionChild].title" required></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div>
  </form>
</ng-template>

<!-- modal discard -->
<ng-template #contentDiscard let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">Discard</h4>
    <button type="button" class="btn-close btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <div>Are you sure you want to remove this product</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click');onDiscardAll(itemElasticSearch,'danger')">
      Discard
    </button>
  </div>
</ng-template>

